@font-face {
    font-family: comicsans;
    src: url('comicsans.ttf');
}

*{
    background-color: #383632;
}
.text-box{
    text-align: center;
}
.mainpagebutton{
    background-color: darkslategray;
    font-family: comicsans;
    border-radius: 15px;
    color: darksalmon;
    font-size: 40px;
}
.speedrunbutton{
    background-color: darkslategray;
    font-family: comicsans;
    border-radius: 15px;
    color: darksalmon;
    font-size: 35px;
}
.topbuttons{
    background-color: darkslategray;
    font-family: comicsans;
    border-radius: 15px;
    color: darksalmon;
    font-size: 20px;
}